# MNIST with machine learning

In this exercise we will give MNIST digits another try, but this time we will apply what we've learnt about machine learning algorithms. The idea is to correctly estimate the best parameter(s) for an algorithm in order to get the highest accuracy. At the end of this exercise you will upload your results to [this Kaggle contest](https://www.kaggle.com/c/digit-recognizer).

## Loading the dataset

Here we will load the Kaggle training set and test set. The training is a CSV with 42000 rows and 785 columns (28x28 pixels + 1 label), while the test set has 28000 rows and 784 columns. The test set in this exercise is used only for submission to Kaggle, which means you will have to do cross-validation on only the training set.

In [6]:
import pandas as pd

data = pd.read_csv("train.csv")
test_data = pd.read_csv("test.csv")

We visualize training data and its types.

In [7]:
print(data.dtypes)
data.head()

label       int64
pixel0      int64
pixel1      int64
pixel2      int64
pixel3      int64
pixel4      int64
pixel5      int64
pixel6      int64
pixel7      int64
pixel8      int64
pixel9      int64
pixel10     int64
pixel11     int64
pixel12     int64
pixel13     int64
pixel14     int64
pixel15     int64
pixel16     int64
pixel17     int64
pixel18     int64
pixel19     int64
pixel20     int64
pixel21     int64
pixel22     int64
pixel23     int64
pixel24     int64
pixel25     int64
pixel26     int64
pixel27     int64
pixel28     int64
            ...
pixel754    int64
pixel755    int64
pixel756    int64
pixel757    int64
pixel758    int64
pixel759    int64
pixel760    int64
pixel761    int64
pixel762    int64
pixel763    int64
pixel764    int64
pixel765    int64
pixel766    int64
pixel767    int64
pixel768    int64
pixel769    int64
pixel770    int64
pixel771    int64
pixel772    int64
pixel773    int64
pixel774    int64
pixel775    int64
pixel776    int64
pixel777    int64
pixel778    int64
pixel779    int64
pixel780    int64
pixel781    int64
pixel782    int64
pixel783    int64
Length: 785, dtype: object

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

We can see that the first column here is the label that indicates the digit of the corresponding pixels. We will change its type to be categorical.

In [8]:
data.label = data.label.astype("category")
data.label.value_counts()

1    4684
7    4401
3    4351
9    4188
2    4177
6    4137
0    4132
4    4072
8    4063
5    3795
Name: label, dtype: int64

We can see that the different labels are somewhat evenly distributed. We can also describe a column to see the different values a pixel can take.

In [9]:
data.pixel774.describe()

count    42000.000000
mean         0.219286
std          6.312890
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        254.000000
Name: pixel774, dtype: float64

## Workshop: Fitting KNN

Integrantes (3 max):
- Sara Ortiz Drada 
- Daniela Llano Lozano

We will now fit a KNN model to the data, first we split the data to perform stratified cross validation. We have to stratify since the probabilities of each label are slightly different.

### Splitting the data

We will split the data using 20% of it as a **validation** set.

In [10]:
from sklearn.model_selection import train_test_split

# TODO: Here you will split the data using scikit-learn train_test_split function

data_train_pred, data_test_pred, data_train_c, data_test_c = train_test_split(data.drop("label", axis = 1), data.label, stratify = data.label, test_size = 0.2)

print(f"Train X: {(len(data_train_pred))}")
print(f"Train Y: {(len(data_train_c))}")
print(f"Test X: {(len(data_test_pred))}")
print(f"Test Y: {(len(data_test_c))}")

data_train_pred.head()

Train X: 33600
Train Y: 33600
Test X: 8400
Test Y: 8400

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
30333,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4887,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
37422,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18005,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31205,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Finding the K

Now we will find the K by trying powers of 10 followed by different K's 1000 at a time until an arbitrarilly chosen 30000 neighbors max.

In [1]:
from sklearn.neighbors import KNeighborsClassifier

# TODO: Here you will choose the possible K values

ks = list(range(1, 784))
accuracies = []


for k in ks:
  model = KNeighborsClassifier(n_neighbors=k).fit(data_train_pred, data_train_c.values.ravel())
  score = model.score(data_test_pred, data_test_c.values.ravel())

  accuracies.append(score)
LIGERAMENTE
error_data = pd.DataFrame({
    "k": ks,
    "accuracies": accuracies
})

NameError: name 'data_train_pred' is not defined

Now we will visualize the error result.

In [ ]:
import matplotlib.pyplot as plt

_ = sns.lineplot(x = "k", y = "error", data = error_data)

plt.plot(ks, accuracies)